@media (min-width:320px) and (max-width: 480px) {


    header {


        width: 92.5%;
        padding-left: 1rem;
        padding-bottom: 20rem;
       


    }

    .menuprincipal1 p {
        display: flex;
        flex-direction: column;
        font-size: 44px;



    }

    .hum {
        display: flex;
        flex-direction: column;
    }

    .contato p {
        width: 11rem;
        font-size: 1rem;
    }

    li a {
        width: 10%;
    }

    .menuprincipal1 h2 {
        font-size: 1.7rem;
        width: 100%;

    }

    .menuprincipal1 a {
        font-size: 2rem;
        width: 100%;

    }

    .descricao1 h2 {
        text-align: center;
        width: 100%;
    }

    .menuprincipal {
        display: flex;
        flex-direction: column;

    }
    .item .tamanho {
    width:69vw;
    height: 11.4rem;

}

.item .tamanho1 {
    width: 69vw;
    height: 11.4rem;

}

    .menuprincipal1 {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .menuprincipal li {

        margin: .5rem 0;

    }

    .diferenciais {

        gap: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-left: 9rem;

        width: 18.4vw;
        float: left;

    }

    .diferenciais .iitem {

        display: flex;
        flex-direction: column;



    }


    .iitem img {

        width: 90%;
        display: flex;
        text-align: center;
        justify-content: center;



    }

    .diferenciais p {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 2rem;

    }

    .diferenciais h2 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }




    .res1 {
        text-align: center;
    }

    .produto2 {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

    .produto {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

    .item {
        margin-top: 3rem;
        display: flex;
        padding: 2rem;
        padding-right: 2.9rem;
        flex-direction: column;
        margin: 1rem;
        background-image: linear-gradient(#2b337c, #0c113a, black);
        text-align: center;
        border-radius: 2rem;




    }

    .item p {
        font-size: 100px;
    }

    .pro img {
        width: 69vw;
        border-radius: 1rem;
    }

    .pro br {
        display: none;
    }

    .pro p {
        display: flex;
        justify-content: center;
        font-size: 30px;
        line-height: 2.3rem;

    }

    .pro h2 {
        font-size: 1rem;

    }

    .pro .item {
        width: 18rem;

    }

    .contato5 {
        display: flex;
        flex-direction: column;
    }

    .efeito {
        background: url('img2/4h21kow8_1584452262.webp') 50% / cover no-repeat fixed;
        width: 100%;
        text-align: center;
    }

    .contato1 a {
        width: 100%;
    }

    .depoimentos {
        display: flex;
        flex-direction: column;

    }

    .de-item2 img {

        width: 4rem;
        height: 4rem;
    }

    .de-item2 {
        font-size: 2rem;
        justify-content: center;
        width: 85%;
        height: 17rem;
        margin-bottom: 4rem;
    }

    .avaliacao p {
        display: flex;
        text-align: center;

        font-size: 2rem;
    }

    .duvidas {
        width: 100%;

    }

    .avaliacao p {
        display: flex;

    }


    .contato5 {
        width: 70%;


    }



}

/* 768 */


@media (min-width:800px) and (max-width:1080px) {


    header {


        width: 96.6%;
        padding-left: 1rem;


    }

    .menuprincipal1 p {
        display: flex;
        flex-direction: column;
        font-size: 44px;



    }

    .hum {
        display: flex;
        flex-direction: row;
    }

    .contato p {
        width: 11rem;
        font-size: 1rem;
    }

    li a {
        width: 10%;
    }

    .menuprincipal1 h2 {
        font-size: 1.7rem;
        width: 100%;

    }

    .menuprincipal1 a {
        font-size: 2rem;
        width: 100%;

    }

    .descricao1 h2 {
        text-align: center;
        width: 100%;
    }

    .menuprincipal {
        display: flex;
        flex-direction: row;

    }

    .menuprincipal1 {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .menuprincipal li {

        margin: .5rem 0;

    }

    .diferenciais {

        gap: 2rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        padding-left: rem;

        width: 75.4vw;
        float: left;

    }

    .diferenciais .iitem {

        display: flex;
        flex-direction: column;



    }

    .iitem img {

        width: 50%;
        display: flex;
        text-align: center;
        justify-content: center;



    }
    
.item .tamanho {
    width:29vw;
    height: 10.9rem;

}

.item .tamanho1 {
    width: 29vw;
    height: 10.9rem;

}

    .diferenciais p {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1.4rem;

    }

    .diferenciais h2 {
        font-size: 2rem;
        display: flex;

    }




    .res1 {
        text-align: center;
    }

    .produto2 {
        display: flex;
        flex-direction: row;
        margin: 2rem;
    }

    .produto {
        display: flex;
        flex-direction: row;
        margin: 2rem;
    }

    .item {
        display: flex;

        padding-bottom: 2rem;
        flex-direction: column;
        margin: .3rem;
        background-image: linear-gradient(#2b337c, #0c113a, black);
        text-align: center;
        border-radius: 2rem;
    }

    .IMT {
        margin-top: 2rem;
        background-color: #f13e4a;
        width: 87%;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
        border-radius: 2rem;
        padding-top: 1rem;

    }

    .item p {
        font-size: 75px;
    }

    .pro img {
        width: 28vw;
        border-radius: 1rem;
    }

    .pro br {
        display: none;
    }

    .pro p {
        display: flex;
        justify-content: center;
        font-size: 28px;
        line-height: 2.3rem;

    }

    .pro h2 {
        font-size: 1rem;

    }

   

    .contato5 {
        display: flex;
        flex-direction: column;
    }

    .efeito {
        background: url('img2/4h21kow8_1584452262.webp') 50% / cover no-repeat fixed;
        width: 100%;
        text-align: center;
    }

    .contato1 a {
        width: 100%;
    }

    .depoimentos {
        display: flex;
        flex-direction: column;

    }

    .de-item2 img {

        width: 4rem;
        height: 4rem;
    }

    .de-item2 {
        font-size: 2rem;
        justify-content: center;
        width: 85%;
        height: 17rem;
        margin-bottom: 4rem;
    }

    .avaliacao p {
        display: flex;
        text-align: center;

        font-size: 2rem;
    }

    .duvidas {
        width: 100%;

    }

    .avaliacao p {
        display: flex;

    }


    .contato5 {
        width: 86.2%;


    }






}